.page-header, h1, h2, div.main-container a { font-family: 'Akkurat-Bold'; font-style: normal; font-weight: 700; }
h3 { font-family: 'Akkurat-Light'; font-style: normal; font-weight: 300; }
body, a, section#block-system-main-menu ul.menu.nav li a, .field-label { font-family: 'Akkurat-Regular'; font-style: normal; font-weight: 500; }
