

/* **UNIVERSAL** */

	
 body {
	background:white;
	color:#606060;
	padding:0px;
	margin:0px;
}

.navbar-default {
		background:white;
}

a, span, p, body, h1, h2, h3, h4 {
	text-rendering: optimizelegibility;

}

a {
	color:#0a3254;
	font-size:1em;
	
}

div.main-container a {
color:#0e87c0;
}

div.main-container a:hover {
color:#1da5e4;
}

a, button:hover, img a:hover, :hover {
	transition: all  0.2s ease 0.1s;
}


a:hover {
	text-decoration:none;
}
.field-label {
	font-weight:500 !important;
}
.row { margin:0px !important; }



/* TEMPORARY FOR THEMING */

aside.col-sm-3 { /* LEFT COLUMN 
background:#e0e0e0;*/
}

section.col-sm-9 { /* PRIMARY CONTENT AREA 
	background:#eee;*/
}


/**/

/* HEADER AFFIX */

header#navbar {
	border-bottom:1px dotted white;
	transition: all 0.2s ease 0.2s;
}

header#navbar.affix {
	border-bottom:1px solid #0a3254;
	
	transition: all 0.2s ease 0.2s;
	
}

section#block-block-1 { /* OFFICES IN UPPER RIGHT */
text-align:right;
width:50%;
float:right;
margin: 0 0 0 50%;
}

section#block-block-1 p { /* OFFICES IN UPPER RIGHT */
margin:0px;
}



aside.col-sm-3 div.region-sidebar-first.well { /* LEFT COLUMN INSIDE */
margin-bottom: 0px !important;
    padding: 0px !important;
	background:none;
	border-radius:0px;
	border:0px;
	box-shadow:none;
}


header#navbar {
	/* background:white; */
	
}

div.main-container.container p {
	font-size:1.25em;
}




/* Extra Small */
@media(max-width:479px){
	
	


}

/* Extra Small */
@media(max-width:767px){
	
	.container {
		padding:0px;
	}
	
	header#navbar {
	width:96%;
	margin:0px auto;
}

	
aside.col-sm-3 { /* LEFT COLUMN */
display:none;
}

section.col-sm-9 { /* PRIMARY CONTENT AREA */
	
	width:100%;
	float:none;
}

}


/* BREAKPOINT */
/* Small */
@media(min-width:768px) and (max-width:991px){
	
	nav { /* hide main menu dropdown */
	display:none;
}


header#navbar {
	width:96%;
	margin:0px auto;
}

div.main-container.container {
width: 96%;
margin: 0px auto;
padding:0px;
}

aside.col-sm-3 { /* LEFT COLUMN */
float:left;
padding:0px;
}

section.col-sm-9 { /* PRIMARY CONTENT AREA */
	
	float:right;
	
	padding:0px;
	position:relative;
}

aside.col-sm-3 { /* LEFT COLUMN */
float:left;
padding:0px;
width:18%;
}

section.col-sm-9 { /* PRIMARY CONTENT AREA */
	
	float:right;
	width:79%;
	padding:0px;
	position:relative;
}


aside.col-sm-3 a.logo.navbar-btn.pull-left { /* LOGO */
width:100%;
float:none  !important;
}

aside.col-sm-3 a.logo.navbar-btn.pull-left img { /* LOGO */
width:100%;
height:auto;
}

section#block-system-main-menu {  /* LEFT MENU */
	margin:18px 0 0;
}

section#block-system-main-menu ul.menu.nav  {  /* LEFT MENU */
	
} 

section#block-system-main-menu ul.menu.nav li  {  /* LEFT MENU */
	border-bottom:1px solid #dcdddf;
	padding:0px;
} 

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu { /* LEFT SUBMENU */
  
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    font-size: 12px;
    left: 0;
    list-style: outside none none;
    margin: 0 0 0 223px;
    min-width: 240px;
    padding: 0px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu li a { /* LEFT SUBMENU */
  line-height: 100%;
    padding: 6px 0 6px 18px;
	font-size:14px;
	color:#606060;
	font-size:14px;
  
}

section#block-system-main-menu ul.menu.nav li a  {  /* LEFT MENU */
	line-height: 100%;
    padding: 6px 0 6px 14px;
	font-size:14px;
	color:#606060;
} 

section#block-system-main-menu ul.menu.nav li a.active-trail.active,
section#block-system-main-menu li.expanded.active-trail.dropdown,
section#block-system-main-menu li.expanded.active-trail.dropdown a,
section#block-system-main-menu ul.menu.nav li a.active { /* LEFT MENU */
background:#606060;
color:white;
}

section#block-system-main-menu ul.menu.nav li a:hover  {  /* LEFT MENU */
	color:#0a3254;
} 

aside.col-sm-3 div.region-sidebar-first.well { /* LEFT COLUMN INSIDE */
margin-bottom: 0px !important;
    padding: 0px !important;
	background:none;
	border-radius:0px;
	border:0px;
	box-shadow:none;
}


}



/* Medium */
@media(min-width:992px) and (max-width:1199px){
	nav { /* hide main menu dropdown */
	display:none;
}

header#navbar {
	width:96%;
	margin:0px auto;
}

div.main-container.container {
width: 96%;
margin: 0px auto;
padding:0px;
}

aside.col-sm-3 { /* LEFT COLUMN */
float:left;
padding:0px;
width:20%;
}

section.col-sm-9 { /* PRIMARY CONTENT AREA */
	
	float:right;
	width:76%;
	padding:0px;
	position:relative;
	
	
}


aside.col-sm-3 a.logo.navbar-btn.pull-left { /* LOGO */
width:100%;
float:none  !important;
}

aside.col-sm-3 a.logo.navbar-btn.pull-left img { /* LOGO */
width:100%;
height:auto;
}

section#block-system-main-menu {  /* LEFT MENU */
	margin:20px 0 0;
}

section#block-system-main-menu ul.menu.nav  {  /* LEFT MENU */
	
} 

section#block-system-main-menu ul.menu.nav li  {  /* LEFT MENU */
	border-bottom:1px solid #dcdddf;
	padding:0px;
} 

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu { /* LEFT SUBMENU */
  
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    font-size: 12px;
    left: 0;
    list-style: outside none none;
    margin: 0 0 0 223px;
    min-width: 240px;
    padding: 0px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu li a { /* LEFT SUBMENU */
  line-height: 100%;
    padding: 6px 0 6px 18px;
	font-size:18px;
	color:#606060;
	font-size:16px;
  
}

section#block-system-main-menu ul.menu.nav li a  {  /* LEFT MENU */
	line-height: 100%;
    padding: 5px 0 5px 16px;
	font-size:16px;
	color:#606060;
} 

section#block-system-main-menu ul.menu.nav li a.active-trail.active,
section#block-system-main-menu li.expanded.active-trail.dropdown,
section#block-system-main-menu li.expanded.active-trail.dropdown a,
section#block-system-main-menu ul.menu.nav li a.active { /* LEFT MENU */
background:#606060;
color:white;
}

section#block-system-main-menu ul.menu.nav li a:hover  {  /* LEFT MENU */
	color:#0a3254;
} 

aside.col-sm-3 div.region-sidebar-first.well { /* LEFT COLUMN INSIDE */
margin-bottom: 0px !important;
    padding: 0px !important;
	background:none;
	border-radius:0px;
	border:0px;
	box-shadow:none;
}


}


/* Large */
/* BREAKPOINT */

@media(min-width:1200px){
nav { /* hide main menu dropdown */
	display:none;
}
header#navbar {
    margin: 0 auto;
    max-width: 1170px;
    
}


div.main-container.container{
	width:1170px;
	padding:0px;
	margin:0px auto;
}

aside.col-sm-3 { /* LEFT COLUMN */
float:left;
width:223px;
position:fixed;
padding:0px;
}

section.col-sm-9 { /* PRIMARY CONTENT AREA */
	
	float:right;
	width:905px;
	padding:0px;
	position:relative;
}


aside.col-sm-3 a.logo.navbar-btn.pull-left { /* LOGO */
margin:0px;
height:49px;
float:none  !important;
}

/* MENUS */
section#block-system-main-menu {  /* LEFT MENU */
	margin:25px 0 0;
}

section#block-system-main-menu ul.menu.nav  {  /* LEFT MENU */
	
} 

section#block-system-main-menu ul.menu.nav li  {  /* LEFT MENU */
	border-bottom:1px solid #dcdddf;
	padding:0px;
} 

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu { /* LEFT SUBMENU */
  
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    font-size: 12px;
    left: 0;
    list-style: outside none none;
    margin: 0 0 0 223px;
    min-width: 240px;
    padding: 0px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu li a { /* LEFT SUBMENU */
  line-height: 100%;
    padding: 6px 0 6px 18px;
	font-size:18px;
	color:#606060;
	font-size:16px;
  
}

section#block-system-main-menu ul.menu.nav li a  {  /* LEFT MENU */
	line-height: 100%;
    padding: 6px 0 6px 18px;
	font-size:18px;
	color:#606060;
} 

section#block-system-main-menu ul.menu.nav li a.active-trail.active,
section#block-system-main-menu li.expanded.active-trail.dropdown,
section#block-system-main-menu li.expanded.active-trail.dropdown a,
section#block-system-main-menu ul.menu.nav li a.active { /* LEFT MENU */
background:#606060;
color:white;
}

section#block-system-main-menu ul.menu.nav li a:hover  {  /* LEFT MENU */
	color:#0a3254;
} 

aside.col-sm-3 div.region-sidebar-first.well { /* LEFT COLUMN INSIDE */
margin-bottom: 0px !important;
    padding: 0px !important;
	background:none;
	border-radius:0px;
	border:0px;
	box-shadow:none;
}

div.utility-nav { /* UTILITY NAV - OFFICE LOCATIONS */
	margin-top:16px;
}

div.utility-nav p span { /* UTILITY NAV - OFFICE LOCATIONS */
	padding:0px 5px;
	border-right:1px solid #606060;
	font-size:1.1em;
}

div.utility-nav p span a{ /* UTILITY NAV - OFFICE LOCATIONS */
	color: #606060;

}

div.utility-nav p span a:hover {
	color:#0a3254;
	
}
/* PROJECT PAGES */


body.node-type-project h1.page-header {
	padding:0px;
	line-height:1;
	margin:0px;
	border:none;
}

body.node-type-project div.group-left {
	float:left;
	width:75%;
}

body.node-type-project div.group-right {
	float:right;
	width:22%;
}




div.field-name-field-city-and-state h3{
	text-transform:uppercase;
	font-size:1.1em;
	letter-spacing:1px;
	margin: 10px 0px 18px 0px;
}

div.field-name-field-primary-image {
	width:100%;
	
	margin:0px 0px 20px;
}

div.field-name-field-primary-image img {
	width:100%;
	height:auto;
}

div.field-name-field-supporting-images {
	width:100%;
}

div.field-name-field-supporting-images img {
	width:100%;
	height:auto;
	margin-top:15px;
}
	

div.group-project-principals.field-group-div {
	width:100%;
	
}

div.field-name-field-owner,
div.field-name-field-architects,
div.field-name-field-developer,
div.field-name-field-engineer,
div.field-name-field-owner-s-representative {
	padding:5%;
	width:100%;
	background:#f0f0f0;
	margin-bottom:12px;
}

div.field-name-field-owner div.field-label, 
div.field-name-field-architects div.field-label,
div.field-name-field-developer div.field-label,
div.field-name-field-engineer div.field-label,
div.field-name-field-owner-s-representative div.field-label{
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:.85em;
}

div.field-name-field-full-project-description {
	margin:0px;
}

div.field-name-field-full-project-description p {
	font-size:1.1em;
	margin:0px;
}

div.group-testimonial.field-group-div { /* TESTIMONIALS ON PROJECT PAGES */
	border:1px solid #ccc;
	padding:12px;
	text-align:right;
	margin-top:18px;
}

div.group-testimonial.field-group-div h3 {
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:1em;
	margin-top:0px;
	text-align:left;
}

div.field-name-field-testimonial div.field-items p {
	font-size:1.1em;
text-align:left;
}

div.field-name-field-testimonial-name {
	
}

div.field-name-field-testimonial-title {
	
}

div.field-name-field-testimonial-company {
	
}

/* SOCIAL MEDIA 
Instagram #517fa4
Twitter #00aced
Facebook #3b5998
LinkedIn #0077b5
YouTube #e52d27 */

section#block-block-2 {
	width:205px;
	float:right;
}

div#facebook, div#twitter, div#linkedin, div#instagram, div#youtube {
	width:33px;
	height:33px;
	margin-right:9px;
	float:left;
	text-align:center;
	vertical-align:center;
}


div#facebook {
background: #3b5998;
}

div#twitter {
background: #00aced;
}

div#linkedin {
background: #0077b5;
}

div#facebook:hover, div#twitter:hover, div#linkedin:hover, div#instagram:hover, div#youtube:hover {
background: black;

display:block;

}

div#instagram {
background: #517fa4;
}

 div#youtube {
	margin-right:0px;
	background:#e52d27;
}

div#facebook img {
height:27px;
width:auto;
margin:3px auto 0;


}

div#twitter  img{
height:20px;
width:auto;
margin-top:7px;
}

div#linkedin img {
height:23px;
width:auto;
margin-top:5px;
}

div#instagram img {
height:23px;
width:auto;
margin-top:5px;
}

 div#youtube img {
	height:24px;
width:auto;
margin-top:5px;
}

 
