/***--BOOTSTRAP BREAKPOINTS-- ***/

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}
 


/***--Global-- ***/

body { background:#FFF ;color:#606060; padding:0px; margin:0px; letter-spacing:0.15px; }
p { line-height: 145%; font-size:1.25em; margin: 0px 0px 20px; }
a { color:#0a3254; font-size:1em;}
a:hover, a:visited, a:active { text-decoration:none !important; }
a, span, p, body, h1, h2, h3, h4 { text-rendering: optimizelegibility;}
a img, img a { border:0px;}
a, button:hover, img a:hover, :hover { transition: all 0.1s ease 0.1s;}
.row { margin:0px !important; }
.container { padding:0px; }
h1.page-header { border:0px; color:#0a3254; }
h4 {color:#0a3254;}
.front h1.page-header { display:none;}
.field .field-label {font-weight:normal !important;}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding:0px;
}

@media(min-width:1200px){
p { font-size: 1.25em; }
h1.page-header {margin-top:0px; font-size:2.5em;}
}

@media(min-width:992px) and (max-width:1199px){
p { font-size: 1.25em; }
h1.page-header {margin-top:0px; font-size:2.35em;}

}
@media(min-width:768px) and (max-width:991px){
p { font-size: 1.2em;  }
h1.page-header {margin-top:0px; font-size:2.25em;}
}
@media(min-width:481px) and (max-width:767px){
p { font-size: 1.1em;  }
h1.page-header {margin-top:40px; font-size:2.1em;}

}
@media (max-width:480px){
p { font-size: 1.1em; }
h1.page-header {margin-top:0px; font-size:2em;}
}


/***--Navigation-- ***/
nav {  z-index:9999; }
.navbar-default { background:white;}
header#navbar { max-width: 1170px; border-bottom:1px dotted white; transition: all 0.2s ease 0.2s;  }
header#navbar.affix { border-bottom:1px solid #0a3254; transition: all 0.2s ease 0.2s;	}

.navbar-default .navbar-toggle {border-color:#606060;margin-top:10px; padding:8px 10px;}
.navbar-default .navbar-toggle .icon-bar {background:#aaaaaa;}

@media(min-width:1200px){
	header#navbar { margin: 0 auto; width:96%; }

}
@media(min-width:992px) and (max-width:1199px){
	header#navbar { margin: 0 2%; width:96%; }
}
@media(min-width:768px) and (max-width:991px){
header#navbar { margin: 0 2%; width:96%; }
}
@media(min-width:481px) and (max-width:767px){
header#navbar { margin: 0 2%; width:96%; }

}
@media (max-width:480px){
	header#navbar { margin: 0 4%; width:92%; }
}


/* Left Menu */
section#block-system-main-menu {  margin:18px 0 0;}
section#block-system-main-menu ul.menu.nav  { } 
section#block-system-main-menu ul.menu.nav li  { border-bottom:1px solid #dcdddf; padding:0px;} 
section#block-system-main-menu ul.menu.nav li.last  { border:0px;} 
section#block-system-main-menu ul.menu.nav li a  {  line-height: 100%;  color:#606060;}
section#block-system-main-menu ul.menu.nav li a:hover  { color:#0a3254;} 
section#block-system-main-menu ul.menu.nav li a.active {  background:#606060; color:#FFF; }
section#block-system-main-menu ul.menu.nav li a.active-trail.active {background:#606060; color:#FFF; }
section#block-system-main-menu li.expanded.active-trail.dropdown {background:#606060; color:#FFF; } 
section#block-system-main-menu li.expanded.active-trail.dropdown a {background:#606060; color:#FFF; }

@media(min-width:1200px){
	nav {  display:none; }
section#block-system-main-menu ul.menu.nav li a  { padding: 6px 0 6px 14px; font-size:1.3em; }
header#navbar {width:100%;}
}
@media(min-width:992px) and (max-width:1199px){
	nav {  display:none; }
section#block-system-main-menu ul.menu.nav li a  { padding: 6px 0 6px 14px; font-size:1.25em; }
}

@media(min-width:768px) and (max-width:991px){
	nav {  display:none; }
section#block-system-main-menu ul.menu.nav li a  { padding: 5px 0 5px 10px; font-size:1.15em; }

}
@media(min-width:481px) and (max-width:767px){
	nav {  display:block; }
	section#block-system-main-menu {display:none;}

}
@media (max-width:480px){
	nav {  display:block; }
	section#block-system-main-menu {display:none;}
}

/* Left Submenu */

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu { 
    background-color: #fff;  border-bottom: 1px solid rgba(0, 0, 0, 0.15); border-radius:0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); float: left;  
    list-style: outside none none;
    margin: 0 0 0 223px; padding: 0px; left:0; top:0;
    min-width: 240px;
    position: absolute;
    z-index: 1000;
}

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu li a { line-height: 100%; padding: 6px 0 6px 18px; font-size:14px; color:#606060;}

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}

/***--Page Layout-- ***/

div.main-container a { color:#0e87c0; }
div.main-container a:hover { color:#1da5e4;}


aside.col-sm-3.left { position:fixed; padding:0px; background:#FFF;}
aside.col-sm-3.left div.region-sidebar-first.well { margin-bottom: 0px !important; padding: 0px !important;background:none;border-radius:0px;border:0px;box-shadow:none;}
aside.col-sm-3.right { position:relative;  float:right;}
aside.col-sm-3.right div.region-sidebar-second {}
aside.col-sm-3.right h2.block-title {color:#333;text-align:left;font-size:14px;width:100%;padding:8px 0px 3px;text-transform:uppercase;letter-spacing:1px;line-height:100%;border-top:1px solid #606060;text-indent:2px;}
section.col-sm-6 ul {list-style-position:outside; list-style:disc;padding-left:30px; margin-top:14px; }
section.col-sm-6 ul li {font-size:1.175em;padding:0px 0px 12px 10px;}
section.col-sm-6 ul li b {color:#0a3254; }
.not-front section.col-sm-9 ul {list-style-position:outside; list-style:disc;padding-left:30px; margin-top:14px; }
.not-front section.col-sm-9 ul li {font-size:1.175em;padding:0px 0px 12px 10px;}
.not-front section.col-sm-9 ul li b {color:#0a3254; }

.front section.col-sm-9 { padding:0px;}

section.col-sm-6 h3, section.col-sm-9 h3  { color:#0a3254; border-bottom:1px solid #ccc; font-size:20px; padding-bottom:8px;}

@media(min-width:1200px){
	div.main-container.container{ width:1170px; margin:0px auto;}
	aside.col-sm-3.left { width:223px; }
	aside.col-sm-3.right { width:194px; padding:85px 0px 0px 0px; }
	aside.col-sm-3.right div.region-sidebar-second {border-left:1px solid #aaa;padding-left:20px;}
	section.col-sm-6 {margin-left: 260px; padding:14px 20px 0px 0px;width: 715px;}
	section.col-sm-9 { float:right;width:905px;padding:13px 0 0 0 ;position:relative;}
	
}
@media(min-width:992px) and (max-width:1199px){
	div.main-container.container{ width:96%; margin:0px 2%; }
	section.col-sm-6 {margin-left: 260px; padding:14px 20px 0px 0px;width: 54%;}
	aside.col-sm-3.left { width:223px; }
	aside.col-sm-3.right { width:16%; padding:85px 0px 0px 0px; }
	aside.col-sm-3.right div.region-sidebar-second {border-left:1px solid #aaa;padding-left:15px;}
	section.col-sm-9 { float:right;width:75%;padding:13px 0 0 0 ;position:relative;}
}
@media(min-width:768px) and (max-width:991px){
	div.main-container.container{ width:96%; margin:0px 2%; }
	section.col-sm-6 {margin-left: 200px; padding:0px 20px 0px 0px;width: 55%;}
	
	aside.col-sm-3.left {width:162px;}
	aside.col-sm-3.right { width:17.5%; padding:85px 0px 0px 0px;}
		aside.col-sm-3.right div.region-sidebar-second {border-left:1px solid #aaa;padding-left:10px;}
		section.col-sm-9 { float:right;width:76.5%;padding:0 ;position:relative;}
}
@media(min-width:481px) and (max-width:767px){
	div.main-container.container{ width:96%; margin:0px 2%; }
	section.col-sm-6 {margin-left: 0px; padding:14px 20px 0px 0px;width: 72%;float:left;}
	section.col-sm-9 {padding-top:30px;}
	aside.col-sm-3.left {display:none;}
	aside.col-sm-3.right { width:26%; padding:85px 0px 0px 0px;}
		aside.col-sm-3.right div.region-sidebar-second {border-left:1px solid #aaa;padding-left:10px;}
	section.col-sm-9 { float:none; width:100%;padding:0px ;position:relative;}
}
@media (max-width:480px){
	div.main-container.container{ width:100%; padding:0% 4%; min-width:320px; }
	section.col-sm-6 {margin-left: 0; padding:30px 0px 0px 0px;width: 100%;}
	section.col-sm-9 {padding-top:30px;}
	aside.col-sm-3.left {display:none;}
	aside.col-sm-3.right { width:100%; padding:0px;}
		aside.col-sm-3.right div.region-sidebar-second {padding:0px; border:0px;}
		aside.col-sm-3.right h2.block-title { margin:0;}
}


/* logo */
aside.col-sm-3 a.logo.navbar-btn.pull-left { width:100%;float:none  !important;}
aside.col-sm-3 a.logo.navbar-btn.pull-left img { width:100%;height:auto;}
div.utility-nav div#block-block-4 {}

/* offices */
div.utility-nav { }
section#block-block-1 { text-align:right;width:50%;float:right;margin: 0 0 0 50%;}
section#block-block-1 p {margin:0px;}
section#block-block-1 p span {border-right:1px solid #606060;}
section#block-block-1 p span a {color: #606060;}
section#block-block-1 p span a:hover {color:#0a3254;}

@media(min-width:1200px){
	div.utility-nav { margin-top:16px; }
section#block-block-1 { text-align:right;width:50%;float:right;margin: 0 0 0 50%;}
section#block-block-1 p {margin:0px;font-size:1em;}
section#block-block-1 p span {padding:0px 5px;font-size:1.15em;}
div.utility-nav section#block-block-4 {display:none;}
}
@media(min-width:992px) and (max-width:1199px){
div.utility-nav { margin-top:15px; }
section#block-block-1 { text-align:right;width:50%;float:right;margin: 0 0 0 50%;}
section#block-block-1 p {margin:0px;font-size:1.1em;}
section#block-block-1 p span {padding:0px 5px;}
div.utility-nav section#block-block-4 {display:none;}
}
@media(min-width:768px) and (max-width:991px){
div.utility-nav { margin-top:14px; }
section#block-block-1 { text-align:right;width:50%;float:right;margin: 0 0 0 50%;}
section#block-block-1 p {margin:0px;font-size:1.05em;}
section#block-block-1 p span {padding:0px 5px;}
div.utility-nav section#block-block-4 {display:none;}
}
@media(min-width:481px) and (max-width:767px){
div.utility-nav { margin-top:13px; }
section#block-block-1 { text-align:center;width:98%;float:right;margin: 0 1%;}
section#block-block-1 p {margin:0px;font-size:1em;}
section#block-block-1 p span {padding:0px 5px;}
div.utility-nav section#block-block-4 {float: left;margin: 10px 0 16px; width: 175px;}
div.utility-nav section#block-block-4 img {width:100%;height:auto;}
}
@media (max-width:480px){
div.utility-nav { margin-top:12px; }
section#block-block-1 { text-align:center;width:98%;float:right;margin: 0 1%;}
section#block-block-1 p {margin:0px;font-size:.85em;}
section#block-block-1 p span {padding:0px 5px;}
div.utility-nav section#block-block-4 {float: left;margin: 10px 0 16px; width: 160px;}
div.utility-nav section#block-block-4 img {width:100%;height:auto;}
}

/* social media */
section#block-block-2 {  }
section#block-multiblock-2 {} /* footer */
div#facebook, div#twitter, div#linkedin, div#instagram, div#youtube {width:33px;height:33px;margin-left:14px;float:left;text-align:center;vertical-align:center;}
div#facebook:hover, div#twitter:hover, div#linkedin:hover, div#instagram:hover, div#youtube:hover {background: black;display:block;}

div#facebook {background: #3b5998;margin-left:0px;}
div#facebook img {height:27px;width:auto;margin:3px auto 0;}

div#twitter {background: #00aced;}
div#twitter  img{height:20px;width:auto;margin-top:7px;}

div#linkedin {background: #0077b5;}
div#linkedin img {height:23px;width:auto;margin-top:5px;}

div#instagram {background: #517fa4;}
div#instagram img {height:23px;width:auto;margin-top:5px;}

div#youtube {margin-right:0px;background:#e52d27;}
div#youtube img {height:24px;width:auto;margin-top:5px;}

@media(min-width:1200px){
section#block-block-2 { width:223px; height:36px; }
section#block-multiblock-2 { display:none;}
}
@media(min-width:992px) and (max-width:1199px){
section#block-block-2 { width:223px; height:36px; }
section#block-multiblock-2 { display:none;}
}
@media(min-width:768px) and (max-width:991px){
section#block-block-2 { width:162px;  }
section#block-block-2 div { margin:0px 6px 0px 0px; width:26px; height:26px;  }
section#block-multiblock-2 { display:none;}
div.utility-nav section#block-block-4 img {width:80%;height:auto;}
}
@media(min-width:481px) and (max-width:767px){
	section#block-multiblock-2 { margin: 0 20% 14px; width: 60%;}
	section#block-multiblock-2 div { width:14%;}
	section#block-multiblock-2 div#facebook { margin-left:8%}

}
@media (max-width:480px){
	section#block-multiblock-2 { margin: 0 15% 14px; width: 70%;}
	section#block-multiblock-2 div { width:12%;}
	section#block-multiblock-2 div#facebook { margin-left:8%}
}


/***--Search-- ***/

i.glyphicon.glyphicon-search {top: -1px;font-size:16px;transform: rotate(-270deg);-webkit-transform: rotate(-270deg);}

aside.col-sm-3.left section#block-search-form {margin:20px 0px 30px;}
aside.col-sm-3.left section#block-search-form input.form-control {height:28px;font-size:1em;background:white;border-radius:0px;border-top:1px solid #0a3254;border-left:1px solid #0a3254; border-bottom:2px solid #606060;border-right:0px;box-shadow:none;margin-left:13px;}
aside.col-sm-3.left section#block-search-form input.form-control:focus {background:#f3f5f6;color: #0E87C0;}
aside.col-sm-3.left section#block-search-form .input-group-btn > .btn {color:white;background:#0a3254;height:28px;border-radius:0px;border:1px solid #0a3254;padding:6px;}
aside.col-sm-3.left section#block-search-form .input-group-btn > .btn:hover {background:#0E87C0;}

section#block-multiblock-1 {background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 8px;
    float: left;
    margin: 0 15% 21px;
    padding: 1% 2%;
    width: 70%;
}
section#block-multiblock-1 /* footer */ {
	background:none; border:0px;
}
section#block-multiblock-1 form#search-block-form--2 {margin:0px;}
section#block-multiblock-1 form#search-block-form--2 input.form-control {font-size:1.2em;background:white;border-radius:0px;border:1px solid #0a3254;box-shadow:none;margin-left:0px; height:38px;}
section#block-multiblock-1 form#search-block-form--2 input.form-control:focus {background:#f3f5f6;color: #0E87C0;}
section#block-multiblock-1 form#search-block-form--2 .input-group-btn > .btn {color:white;background:#0a3254;height:38px;border-radius:0px;border:1px solid #0a3254;padding:6px;}
section#block-multiblock-1 form#search-block-form--2 .input-group-btn > .btn:hover {background:#0E87C0;}

@media(min-width:1200px){
section#block-multiblock-1  {display:none;}
}
@media(min-width:992px) and (max-width:1199px){
section#block-multiblock-1  {display:none;}

}
@media(min-width:768px) and (max-width:991px){
section#block-multiblock-1  {display:none;}
}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}

/***--Home Page Layout-- ***/

/* marquee*/
section#block-views-home-page-marquee-block { width:100%;}
section#block-views-home-page-marquee-block img{ z-index:1; width:100%; height:auto;}
section#block-views-home-page-marquee-block img:hover{}
section#block-views-home-page-marquee-block div.views-field.views-field-title { z-index:9999; text-align:right; margin:-70px 0px 70px; width:100%;}
section#block-views-home-page-marquee-block div.views-field.views-field-title span  { }
section#block-views-home-page-marquee-block div.views-field.views-field-title span a {    font-size: 20px;  }
section#block-views-home-page-marquee-block div.views-field.views-field-title span a:hover { color:#ccf3ee; background:#0a3254 url(../../../../../sites/default/files/home-marquee-project-title.png); opacity:1; }

@media(min-width:1200px){
section#block-views-home-page-marquee-block div.views-field.views-field-title { z-index:9999; text-align:right; margin:-70px 0px 70px; width:100%;}
section#block-views-home-page-marquee-block img{ width:100%; height:auto;}
section#block-views-home-page-marquee-block div.views-field.views-field-title span a {color:#fff;  font-size: 20px; letter-spacing: 0.5px; padding: 6px 18px; background: url(../../../../../sites/default/files/home-marquee-project-title.png); }

}
@media(min-width:992px) and (max-width:1199px){
section#block-views-home-page-marquee-block div.views-field.views-field-title { z-index:9999; text-align:right; margin:-55px 0px 50px; width:100%;}
section#block-views-home-page-marquee-block img{ width:100%; height:auto;}
section#block-views-home-page-marquee-block div.views-field.views-field-title span a {color:#fff;  font-size: 20px; letter-spacing: 0.5px; padding: 6px 18px; background: url(../../../../../sites/default/files/home-marquee-project-title.png); }

}
@media(min-width:768px) and (max-width:991px){
section#block-views-home-page-marquee-block div.views-field.views-field-title { z-index:9999; text-align:right; margin:-55px 0px 50px; width:100%;}
section#block-views-home-page-marquee-block img{ width:100%; height:auto;}
section#block-views-home-page-marquee-block div.views-field.views-field-title span a {color:#fff;  font-size: 20px; letter-spacing: 0.5px; padding: 6px 18px; background: url(../../../../../sites/default/files/home-marquee-project-title.png); }
}
@media(min-width:481px) and (max-width:767px){
	section#block-views-home-page-marquee-block div.views-field.views-field-title { z-index:9999; text-align:right; margin:-45px 0px 40px; width:100%;}
section#block-views-home-page-marquee-block img{ width:100%; height:auto;}
section#block-views-home-page-marquee-block div.views-field.views-field-title span a {color:#fff;  font-size: 16px; letter-spacing: 0.25px; padding: 2px 14px; background: url(../../../../../sites/default/files/home-marquee-project-title.png); }

}
@media (max-width:480px){
	section#block-views-home-page-marquee-block div.views-field.views-field-title { z-index:9999; text-align:center; margin:0px 0px 10px; width:100%; background:#ccc;padding: 3px 14px; border-top:2px solid white;}
section#block-views-home-page-marquee-block img{ width:100%; height:auto;}
section#block-views-home-page-marquee-block div.views-field.views-field-title span a {color:#0a3254; line-height:125%; width:100%;  font-size: 14px; letter-spacing: 0.25px; padding:0px; background:#ccc;  }
}


/* divisions */
ul#home-division-container { width:100%; height:115px; list-style:none;  padding:0px; }

ul#home-division-container li a { float:left;text-align:center;height:115px;border:1px solid #606060;padding:2%;display:block;font-size:18px;color:#0a3254;line-height:130%;}
ul#home-division-container li a:hover{ background:#0a3254; color:white; border-color:#0E87C0; }


@media(min-width:1200px){
ul#home-division-container { width:100%; height:115px; list-style:none;  padding:0px; }
ul#home-division-container li a { width:18.35%;margin-right:2%;display:inline;float:left;height:115px;padding:2%;display:block;font-size:18px;color:#0a3254;line-height:130%;}
ul#home-division-container li.last a{ margin:0; float:right;}

}

@media(min-width:992px) and (max-width:1199px){
ul#home-division-container { width:100%; height:105px; list-style:none;  padding:0px; }
ul#home-division-container li a { width:18.35%;margin-right:2%;display:inline;float:left;height:105px;padding:2% 1%;display:block;font-size:16px;color:#0a3254;line-height:130%;}
ul#home-division-container li.last a{ margin:0; float:right;}
}

@media(min-width:768px) and (max-width:991px){
ul#home-division-container { width:100%; height:100px; list-style:none; padding:0px; }
ul#home-division-container li a { width:18.35%;margin-right:2%;display:inline;float:left;height:100px;padding:2% 1%;display:block;font-size:15px;color:#0a3254;line-height:130%;}
ul#home-division-container li.last a{ margin:0; float:right;}
}

@media(min-width:481px) and (max-width:767px){
ul#home-division-container { width:100%; height:100px; list-style:none;  padding:0px; }
ul#home-division-container li a { width:18.35%;margin-right:2%;display:inline;float:left;height:100px;padding:2% 1%;display:block;font-size:15px;color:#0a3254;line-height:130%;}
ul#home-division-container li.last a{ margin:0; float:right;}
}

@media (max-width:480px){
	ul#home-division-container { width:100%; height:auto; list-style:none;  padding:0px; }
ul#home-division-container li a { width:100%;;display:inline;padding:3% 1%;display:block;font-size:16px;color:#0a3254;line-height:100%;height:auto; float:none;margin:0 0 3% 0px;}
ul#home-division-container li.last a{ margin:0; float:none;}
}


/***--Footer-- ***/

footer.footer.container {border:0px;}
footer.footer.container div.region-footer {padding: 15px 0 0 0 ;border-top: 1px solid #cccccc;color: #999;}
footer.footer.container section#block-block-3 div.licenses {width:60%;text-align:left;float:left;}
footer.footer.container section#block-block-3 div.copyright {width:40%;text-align:right;float:right;}

@media(min-width:1200px){
footer.footer.container {width:1170px;margin:0px auto;padding:0;}
footer.footer.container div.region-footer {margin: 50px 0px 20px 265px; padding: 15px 0 0 0 ;width: 905px;}
footer.footer.container section#block-block-3 div.licenses {width:60%;text-align:left;float:left;}
footer.footer.container section#block-block-3 div.copyright {width:40%;text-align:right;float:right;}
}

@media(min-width:992px) and (max-width:1199px){
footer.footer.container {width:75%;margin:0px 1% 0 24%;padding:0;}
footer.footer.container div.region-footer {margin: 50px auto 20px auto;padding: 15px 0 0 0 ;width: 96%; }
footer.footer.container section#block-block-3 div.licenses {width:60%;text-align:left;float:left;}
footer.footer.container section#block-block-3 div.copyright {width:40%;text-align:right;float:right;}

}
@media(min-width:768px) and (max-width:991px){
footer.footer.container {width:76.5%;margin:0px 1% 0 22.5%;padding:0;}
footer.footer.container div.region-footer {margin: 40px auto 20px auto;padding: 15px 0 0 0 ;width: 96%; }
footer.footer.container section#block-block-3 div.licenses {width:60%;text-align:left;float:left;}
footer.footer.container section#block-block-3 div.copyright {width:40%;text-align:right;float:right;}
}
@media(min-width:481px) and (max-width:767px){
footer.footer.container {width:96%;margin:0px auto;padding:0; border:0px;}
footer.footer.container div.region-footer {margin: 10px auto 20px auto;padding: 15px 0 0 0 ;width: 100%; border:0px; }
footer.footer.container section#block-block-3 div.licenses {width:60%;text-align:left;float:left;}
footer.footer.container section#block-block-3 div.copyright {width:40%;text-align:right;float:right;}
}
@media (max-width:480px){
footer.footer.container {width:94%;margin:0px 3%;padding:0; border:0px;}
footer.footer.container div.region-footer {margin: 10px auto;padding: 15px 0 0 0 ;width: 100%; border:0px; }
footer.footer.container section#block-block-3 div.licenses {width:100%;text-align:center;float:none;}
footer.footer.container section#block-block-3 div.copyright {width:100%;text-align:center;float:none;}
}


/***--Left and Right Column Dynamic Content-- ***/

/* news block - non-mobile */
section#block-views-news-block {background:#f3f5f6;margin:0px 0px 25px 0px;padding:6%;}
section#block-views-news-block h2 { padding:0px;margin:0px 0px 6px 0px;font-size:16px;color:#333;}
section#block-views-news-block a {}
section#block-views-news-block a:hover { color: #0E87C0;}
section#block-views-news-block div.views-field-field-published-date p { font-size:12px;margin-bottom:10px;}
section#block-views-news-block div.views-field-title  { margin-bottom:8px;}
section#block-views-news-block div.views-field-title a { color: #0a3254;font-size:16px;}
section#block-views-news-block div.views-field-field-teaser p { font-size:14px;margin:0px 0px;line-height:150%;}

/* news block - mobile */
section#block-views-news-block-1 {background:#f3f5f6;margin:10px 15% 5px 15%;padding:4%; width:70%;}
section#block-views-news-block-1 h2 { padding:0px;margin:0px 0px 6px 0px;font-size:16px;color:#333;}
section#block-views-news-block-1 a {}
section#block-views-news-block-1 a:hover { color: #0E87C0;}
section#block-views-news-block-1 div.views-field-field-published-date p { font-size:12px;margin-bottom:10px;}
section#block-views-news-block-1 div.views-field-title  { margin-bottom:8px;}
section#block-views-news-block-1 div.views-field-title a { color: #0a3254;font-size:16px;}
section#block-views-news-block-1 div.views-field-field-teaser p { font-size:14px;margin:0px 0px;line-height:150%;}



@media(min-width:1200px){
section#block-views-news-block-1 { display:none;}
}
@media(min-width:992px) and (max-width:1199px){
section#block-views-news-block-1 { display:none;}
}
@media(min-width:768px) and (max-width:991px){
section#block-views-news-block-1 { display:none;}
}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
	
}


/* random projects */

section#block-views-random-photo-block-block {}
section#block-views-random-photo-block-block div.views-field-field-primary-image {}
section#block-views-random-photo-block-block div.views-field-field-primary-image img {width:100%;height:auto;}
section#block-views-random-photo-block-block div.views-field-title {font-size: 16px; line-height: 120%;margin: 10px 0 4px 0;}
section#block-views-random-photo-block-block div.views-field-field-city-and-state h3 {font-size:13px;margin:0;padding:0;line-height:120%;}

@media(min-width:1200px){
	
section#block-views-random-photo-block-block { margin:0px 0px 20px 0px;}
section#block-views-random-photo-block-block div.views-field-field-primary-image {height:auto;}

}
@media(min-width:992px) and (max-width:1199px){
section#block-views-random-photo-block-block div.views-field-field-primary-image {height:auto;}

}
@media(min-width:768px) and (max-width:991px){
section#block-views-random-photo-block-block div.views-field-field-primary-image {height:auto;}
}
@media(min-width:481px) and (max-width:767px){
section#block-views-random-photo-block-block div.views-field-field-primary-image {height:auto;}
}
@media (max-width:480px){
	section#block-views-random-photo-block-block { margin:20px 0px;}
	section#block-views-random-photo-block-block div.views-field-field-primary-image {height:175px; overflow:hidden;}
}

/* random testimonials */
section#block-views-random-testimonial-block  {}
section#block-views-random-testimonial-block p {line-height: 150%;}
section#block-views-random-testimonial-block div.views-field-field-testimonial p {}
section#block-views-random-testimonial-block div.views-field-field-job-title p {}
section#block-views-random-testimonial-block div.views-field-field-testimonial-name {color:#333; }
section#block-views-random-testimonial-block div.views-field-field-testimonial-company {}

@media(min-width:1200px){
section#block-views-random-testimonial-block  {margin:0px 0px 20px 0px; width:100%; float:none;}
section#block-views-random-testimonial-block div.views-field-field-job-title p {width:100%; float:none; font-size:.95em;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-name {font-size:1.1em;margin:5px 0px 2px 0px;}
section#block-views-random-testimonial-block div.views-field-field-testimonial p {width:100%; float:none; font-size:1em;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-company {width:100%; float:none; font-size:.95em;}

}
@media(min-width:992px) and (max-width:1199px){
	section#block-views-random-testimonial-block  {margin:0px 0px 20px 0px; width:100%; float:none;}
section#block-views-random-testimonial-block div.views-field-field-job-title p {width:100%; float:none; font-size:.95em;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-name {font-size:1.1em; margin:5px 0px 2px 0px;}
section#block-views-random-testimonial-block div.views-field-field-testimonial p {width:100%; float:none; padding:0; border:0px; font-size:1em;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-company {width:100%; float:none; font-size:.95em;}
}

@media(min-width:768px) and (max-width:991px){
	section#block-views-random-testimonial-block  {margin:0px 0px 20px 0px; width:100%; float:none;}
section#block-views-random-testimonial-block div.views-field-field-job-title p {width:100%; float:none; padding:0; border:0px; font-size:1em;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-name {font-size:1.05em; margin:5px 0px 2px 0px;}
section#block-views-random-testimonial-block div.views-field-field-testimonial p {width:100%; float:none; padding:0; border:0px; font-size:1em;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-company {width:100%; float:none; padding:0; border:0px; font-size:.95em;}
}

@media(min-width:481px) and (max-width:767px){
section#block-views-random-testimonial-block  {margin:0px 0px 20px 0px; width:100%;float:none;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-name  {font-size:.95em; float:none; width:100%; margin:5px 0px 2px 0px;}
section#block-views-random-testimonial-block div.views-field-field-job-title p {font-size:.8em; float:none;}
section#block-views-random-testimonial-block div.views-field-field-testimonial p {width:100%; float:none; padding:0; border:0px; font-size:1em;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-company { float:none; padding:0; border:0px; font-size:.95em;}
}

@media (max-width:480px){
	section#block-views-random-testimonial-block  {margin:0px 0px 20px 0px; width:45%;padding-right:5%; border-right:1px solid #999; float:left;}
	section#block-views-random-testimonial-block div.views-field-field-testimonial-name {font-size:1.1em;margin:0px 0px 2px 0px;}
	section#block-views-random-testimonial-block div.views-field-field-job-title  {font-size:.9em; }
	section#block-views-random-testimonial-block div.views-field-field-testimonial p {padding:0px 3% 0% 0; font-size:.95em;}
	section#block-views-random-testimonial-block div.views-field-field-testimonial-company {font-size:.9em;}
}



/* random employees */

section#block-views-random-employee-block-block {margin:0px 0px 20px 0px; line-height: 120%; width:45%;float:left; padding-left:5%;}
section#block-views-random-employee-block-block div.views-field-title {margin: 10px 0 2px 0;color:#333;}
section#block-views-random-employee-block-block div.views-field-employee-photo {}
section#block-views-random-employee-block-block div.views-field-job-title {}
section#block-views-random-employee-block-block div.views-field-office {}

@media(min-width:1200px){
section#block-views-random-employee-block-block div.views-field-title {font-size:1.1em;margin:5px 0px 6px 0px;}
section#block-views-random-employee-block-block div.views-field-job-title  {width:100%; float:none; font-size:.95em;}
section#block-views-random-employee-block-block div.views-field-employee-photo {float:none;}
}
@media(min-width:992px) and (max-width:1199px){
	
	section#block-views-random-employee-block-block div.views-field-employee-photo {float:none; width:100%}

}
@media(min-width:768px) and (max-width:991px){
	
	section#block-views-random-employee-block-block div.views-field-employee-photo {float:none; width:100%}

}
@media(min-width:481px) and (max-width:767px){
	
	section#block-views-random-employee-block-block div.views-field-employee-photo {float:none; width:100%}

}
@media (max-width:480px){
	section#block-views-random-employee-block-block div.views-field-title {font-size:1.1em;margin:5px 0px 6px 0px; float:right;width:60%;}
	section#block-views-random-employee-block-block div.views-field-employee-photo {}
}

/***--News-- ***/

div.view-id-news.view-display-id-page {}
div.view-id-news.view-display-id-page div.views-row {min-height:140px;padding:14px 0px;border-bottom:1px solid #606060;}
div.view-id-news.view-display-id-page div.views-row-first {min-height:140px;padding:0px 0px 14px 0px;border-bottom:1px solid #606060;}
div.view-id-news.view-display-id-page div.views-row-last {border-bottom:0px;}

div.view-id-news.view-display-id-page div.views-field-field-published-date p {font-size:14px;}
div.view-id-news.view-display-id-page div.views-field.views-field-title a {font-size:20px;}
div.view-id-news.view-display-id-page div.views-field.views-field-field-teaser p {margin:10px 0px;}
div.view-id-news.view-display-id-page div.views-field-field-news-image img {max-width:125px;height:auto;float:right;margin:0px 0px 16px 16px;}

body.node-type-news div.field-name-field-news-image img {max-width:300px;height:auto;float:right;margin:0px 0px 16px 16px;}


@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}

/***--Portfolio-- ***/


div#portfolio-landing div.panel-panel .inside { margin:0px;}
div#portfolio-landing div.panel-col-first { width:71%;float:left;}
div#portfolio-landing div.panel-col-last {width:26%;float:right;}

div#portfolio-landing div.panel-col-last h2.pane-title { background:#606060;padding:9px; margin:0; text-align:center; font-size:1em;color:white;}

div.view-portfolio-page-marquee { width:100%;}
div.view-portfolio-page-marquee img { z-index:1; width:100%; height:auto;}
div.view-portfolio-page-marquee div.views-field.views-field-title { z-index:9999; text-align:right; margin:-60px 0px 50px; width:100%;}
div.view-portfolio-page-marquee div.views-field.views-field-title span a { background: url("../../../../../sites/default/files/home-marquee-project-title.png") repeat scroll 0 0 rgba(0, 0, 0, 0); color: #fff; font-size: 18px; letter-spacing: 0.25px; padding: 5px 16px;}
div.view-portfolio-page-marquee div.views-field.views-field-title span a:hover { color:#ccf3ee; background:#0a3254 url(../../../../../sites/default/files/home-marquee-project-title.png); opacity:1; }

div.view-display-id-block_2 {padding:0px 0 12px 0px;} /* project category list */
div.view-display-id-block_2 div.views-row {padding:3px 12px;}
div.view-display-id-block_2 div.views-row:nth-child(2n+2) {background:#f0f0f0;}
div.view-portfolio-page-marquee div.views-row div span a { font-size:1.6em;}

div.view-random-photo-block view-id-random_photo_block.view-display-id-block_1 {
	width:100%;
}

div.view-random-photo-block.view-id-random_photo_block.view-display-id-block_1 a img {
	max-width:150px;
	height:auto;
}


@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}

/***--Project Pages-- ***/


body.node-type-project h1.page-header {padding:0px;line-height:1;margin:0px;border:none;}
body.node-type-project div.group-left {float:left;width:75%;}
body.node-type-project div.group-right {float:right;width:22%;}
body.node-type-project div.group-right div.group-project-principals.field-group-div { width:100%;}

div.field-name-field-primary-image {width:100%;margin:0px 0px 25px;}
div.field-name-field-primary-image img {width:100%;height:auto;}

div.field-name-field-supporting-images {width:100%;}
div.field-name-field-supporting-images img {width:100%;height:auto;margin-top:15px;}
	
div.field-name-field-city-and-state h3{text-transform:uppercase;font-size:1.1em;letter-spacing:1px;margin: 10px 0px 18px 0px;border-bottom: 0 none;}
div.field-name-field-owner,div.field-name-field-architects,div.field-name-field-developer,div.field-name-field-engineer,div.field-name-field-owner-s-representative {padding:5%;width:100%;background:#f0f0f0;margin-bottom:12px;color:#333;
}
div.field-name-field-owner div.field-label, div.field-name-field-architects div.field-label,div.field-name-field-developer div.field-label,div.field-name-field-engineer div.field-label,div.field-name-field-owner-s-representative div.field-label{text-transform:uppercase;letter-spacing:1px;font-size:.85em;padding-bottom: 4px;color:#606060;}
div.field-name-field-full-project-description {margin:0px;}

div.group-testimonial.field-group-div {border:1px solid #ccc;padding:12px;text-align:right;margin-top:18px;}
div.group-testimonial.field-group-div h3 {text-transform:uppercase;letter-spacing:1px;font-size:1em;margin-top:0px;text-align:left;}
div.field-name-field-testimonial div.field-items p {font-size:1.1em;text-align:left;}
div.field-name-field-testimonial-name {}
div.field-name-field-testimonial-title {}
div.field-name-field-testimonial-company {}

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}