

/***--Global-- ***/

body { background:#FFF;color:#606060; padding:0px; margin:0px; letter-spacing:0.15px; }
p { line-height: 145%; font-size:1.25em; margin: 0px 0px 20px; }
a { color:#0a3254; font-size:1em;}
a:hover, a:visited, a:active { text-decoration:none !important; }
a, span, p, body, h1, h2, h3, h4 { text-rendering: optimizelegibility;}
a img, img a { border:0px;}
a, button:hover, img a:hover, :hover { transition: all 0.1s ease 0.1s;}
.row { margin:0px !important; }
.container { padding:0px; }
h1.page-header { border:0px; color:#0a3254; }
h4 {color:#0a3254;}
.front h1.page-header { display:none;}
.field .field-label {font-weight:normal !important;}

.navbar-collapse {max-height:1000px;}
ul.navbar-nav li a {border-bottom:1px solid #ccc; font-size:1.2em; padding:12px 12px 12px 20px; }
.navbar-default .navbar-nav > li >  a { color:#428bca;}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding:0px;
}


p { font-size: 1.25em; }
h1.page-header {margin-top:0px; font-size:2.5em;}


/***--Navigation-- ***/
nav {  z-index:9999; }
.navbar-default { display:none;}
header#navbar { max-width: 1170px; border-bottom:1px dotted white; transition: all 0.2s ease 0.2s;  }
header#navbar.affix { border-bottom:1px solid #0a3254; transition: all 0.2s ease 0.2s;	}

.navbar-default .navbar-toggle {border-color:#606060;margin-top:10px; padding:8px 10px;}
.navbar-default .navbar-toggle .icon-bar {background:#aaaaaa;}
.caret {border-width: 6px 6px 0;}   


	header#navbar { margin: 0 auto; width:96%; }
	.caret {-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);}

/* Left Menu */
section#block-system-main-menu {  margin:18px 0 0;}
section#block-system-main-menu ul.menu.nav  { } 
section#block-system-main-menu ul.menu.nav li  { border-bottom:1px solid #dcdddf; padding:0px;} 
section#block-system-main-menu ul.menu.nav li.last  { border:0px;} 
section#block-system-main-menu ul.menu.nav li a  {  line-height: 100%;  color:#606060;}
section#block-system-main-menu ul.menu.nav li a:hover  { color:#0a3254; } 
section#block-system-main-menu ul.menu.nav li a.active {  background:#606060; color:#FFF; }
section#block-system-main-menu ul.menu.nav li a.active-trail.active {background:#606060; color:#FFF; }
section#block-system-main-menu ul.menu.nav li.expanded.active-trail.dropdown {background:#606060; color:#FFF; } 
section#block-system-main-menu ul.menu.nav li.expanded.active-trail.dropdown a {background:#606060; color:#FFF; }

section#block-system-main-menu  ul.menu.nav li.expanded.dropdown ul li.leaf a:hover {background:#0e87c0; color:#FFF; }


section#block-system-main-menu  ul.menu.nav li.expanded.active-trail.dropdown li.leaf.active-trail.active a.active-trail.active {
	
	color:#606060; background:#333;
}
	
section#block-system-main-menu ul.menu.nav li.expanded.active-trail.dropdown li.leaf a{ color:white; background:#0a3254;}	

section#block-system-main-menu  ul.menu.nav li.expanded.active-trail.dropdown li.leaf a:hover{  background:#0e87c0;}	



nav {  display:none; }
section#block-system-main-menu ul.menu.nav li a  { padding: 6px 0 6px 14px; font-size:1.3em; }
header#navbar {width:100%;}

/* Left Submenu */

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu { 
    background-color: #fff;  border-bottom: 1px solid rgba(0, 0, 0, 0.15); border-radius:0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); float: left;  
    list-style: outside none none;
    margin: 0 0 0 223px; padding: 0px; left:0; top:0;
    width: 310px;
    position: absolute;
    z-index: 1000;
}

section#block-system-main-menu ul.menu.nav li.first ul.dropdown-menu { width: 220px;}
section#block-system-main-menu ul.menu.nav li.last ul.dropdown-menu { width: 210px;}

section#block-system-main-menu ul.menu.nav li ul.dropdown-menu li a { line-height: 100%; padding: 6px 0 6px 18px; font-size:16px; color:#606060;}


/***--Page Layout-- ***/

div.main-container a { color:#0e87c0; }
div.main-container a:hover { color:#1da5e4;}


aside.col-sm-3.left { position:fixed; padding:0px; background:#FFF;z-index:1;}
aside.col-sm-3.left div.region-sidebar-first.well { margin-bottom: 0px !important; padding: 0px !important;background:none;border-radius:0px;border:0px;box-shadow:none;}
aside.col-sm-3.right { position:relative;  float:right;}
aside.col-sm-3.right div.region-sidebar-second {}
aside.col-sm-3.right h2.block-title {color:#333;text-align:left;font-size:14px;width:100%;padding:8px 0px 3px;text-transform:uppercase;letter-spacing:1px;line-height:100%;border-top:1px solid #606060;text-indent:2px;}
section.col-sm-6 ul {list-style-position:outside; list-style:disc;padding-left:30px; margin-top:14px; }
section.col-sm-6 ul li {font-size:1.175em;padding:0px 0px 12px 10px;}
section.col-sm-6 ul li b {color:#0a3254; }
.not-front section.col-sm-9 ul {list-style-position:outside; list-style:disc;padding-left:30px; margin-top:14px; }
.not-front section.col-sm-9 ul li {font-size:1.175em;padding:0px 0px 12px 10px;}
.not-front section.col-sm-9 ul li b {color:#0a3254; }

.front section.col-sm-9 { padding:0px;}

section.col-sm-6 h3, section.col-sm-9 h3  { color:#0a3254; border-bottom:1px solid #ccc; font-size:20px; padding-bottom:8px;}


	div.main-container.container{ width:1170px; margin:0px auto;}
	aside.col-sm-3.left { width:223px; }
	aside.col-sm-3.right { width:194px; padding:85px 0px 0px 0px; }
	aside.col-sm-3.right div.region-sidebar-second {border-left:1px solid #aaa;padding-left:20px;}
	section.col-sm-6 {margin-left: 260px; padding:14px 20px 0px 0px;width: 715px;}
	section.col-sm-9 { float:right;width:905px;padding:13px 0 0 0 ;position:relative;}
	

/* logo */
aside.col-sm-3 a.logo.navbar-btn.pull-left { width:100%;float:none  !important;}
aside.col-sm-3 a.logo.navbar-btn.pull-left img { width:100%;height:auto;}
div.utility-nav div#block-block-4 {}

/* offices */
div.utility-nav { }
section#block-block-1 { text-align:right;width:50%;float:right;margin: 0 0 0 50%;}
section#block-block-1 p {margin:0px;}
section#block-block-1 p span {border-right:1px solid #606060;}
section#block-block-1 p span a {color: #606060;}
section#block-block-1 p span a:hover {color:#0a3254;}
section#block-block-1 p span.seattle {padding-left:0px; !important;}
section#block-block-1 p span.irvine {border-right:0px; padding-right:0px !important;}
div.utility-nav { margin-top:16px; }
section#block-block-1 { text-align:right;width:50%;float:right;margin: 0 0 0 50%;}
section#block-block-1 p {margin:0px;font-size:1em;}
section#block-block-1 p span {padding:0px 16px;font-size:1.15em;}
div.utility-nav section#block-block-4 {display:none;}

div.utility-nav { margin-top:15px; }
section#block-block-1 { text-align:right;width:50%;float:right;margin: 0 0 0 50%;}
section#block-block-1 p {margin:0px;font-size:1.1em;}
section#block-block-1 p span {padding:0px 15px;}
div.utility-nav section#block-block-4 {display:none;}
/* social media */
section#block-block-2 {  }
section#block-multiblock-2 {} /* footer */
div#facebook, div#twitter, div#linkedin, div#instagram, div#youtube {width:33px;height:33px;margin-left:14px;float:left;text-align:center;vertical-align:center;}
div#facebook:hover, div#twitter:hover, div#linkedin:hover, div#instagram:hover, div#youtube:hover {background: black;display:block;}

div#facebook {background: #3b5998;margin-left:0px;}
div#facebook img {height:27px;width:auto;margin:3px auto 0;}

div#twitter {background: #00aced;}
div#twitter  img{height:20px;width:auto;margin-top:7px;}

div#linkedin {background: #0077b5;}
div#linkedin img {height:23px;width:auto;margin-top:5px;}

div#instagram {background: #517fa4;}
div#instagram img {height:23px;width:auto;margin-top:5px;}

div#youtube {margin-right:0px;background:#e52d27;}
div#youtube img {height:24px;width:auto;margin-top:5px;}
/***--Search-- ***/

i.glyphicon.glyphicon-search {top: -1px;font-size:16px;transform: rotate(-270deg);-webkit-transform: rotate(-270deg);}

aside.col-sm-3.left section#block-search-form {margin:20px 0px 30px;}
aside.col-sm-3.left section#block-search-form input.form-control {height:28px;font-size:1em;background:white;border-radius:0px;border-top:1px solid #0a3254;border-left:1px solid #0a3254; border-bottom:2px solid #606060;border-right:0px;box-shadow:none;margin-left:13px;}
aside.col-sm-3.left section#block-search-form input.form-control:focus {background:#f3f5f6;color: #0E87C0;}
aside.col-sm-3.left section#block-search-form .input-group-btn > .btn {color:white;background:#0a3254;height:28px;border-radius:0px;border:1px solid #0a3254;padding:6px;}
aside.col-sm-3.left section#block-search-form .input-group-btn > .btn:hover {background:#0E87C0;}

section#block-multiblock-1 {background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 8px;
    float: left;
    margin: 0 15% 21px;
    padding: 1% 2%;
    width: 70%;
}
section#block-multiblock-1 /* footer */ {
	background:none; border:0px;
}
section#block-multiblock-1 form#search-block-form--2 {margin:0px;}
section#block-multiblock-1 form#search-block-form--2 input.form-control {font-size:1.2em;background:white;border-radius:0px;border:1px solid #0a3254;box-shadow:none;margin-left:0px; height:38px;}
section#block-multiblock-1 form#search-block-form--2 input.form-control:focus {background:#f3f5f6;color: #0E87C0;}
section#block-multiblock-1 form#search-block-form--2 .input-group-btn > .btn {color:white;background:#0a3254;height:38px;border-radius:0px;border:1px solid #0a3254;padding:6px;}
section#block-multiblock-1 form#search-block-form--2 .input-group-btn > .btn:hover {background:#0E87C0;}

section#block-multiblock-1  {display:none;}
/***--Home Page Layout-- ***/

/* marquee*/
section#block-views-home-page-marquee-block { width:100%;}
section#block-views-home-page-marquee-block img{ z-index:1; width:100%; height:auto;}
section#block-views-home-page-marquee-block img:hover{}
section#block-views-home-page-marquee-block div.views-field.views-field-title { z-index:9999; text-align:right; margin:-70px 0px 70px; width:100%;}
section#block-views-home-page-marquee-block div.views-field.views-field-title span  { }
section#block-views-home-page-marquee-block div.views-field.views-field-title span a {    font-size: 20px;  }
section#block-views-home-page-marquee-block div.views-field.views-field-title span a:hover { color:#ccf3ee; background:#0a3254 url(../../../../../sites/default/files/home-marquee-project-title.png); opacity:1; }


section#block-views-home-page-marquee-block div.views-field.views-field-title { z-index:9999; text-align:right; margin:-70px 0px 70px; width:100%;}
section#block-views-home-page-marquee-block img{ width:100%; height:auto;}
section#block-views-home-page-marquee-block div.views-field.views-field-title span a {color:#fff;  font-size: 20px; letter-spacing: 0.5px; padding: 6px 18px; background: url(../../../../../sites/default/files/home-marquee-project-title.png); }
/* divisions */
ul#home-division-container { width:100%; height:115px; list-style:none;  padding:0px; }

ul#home-division-container li a { float:left;text-align:center;height:115px;padding:2%;display:block;font-size:18px;color:#fff;line-height:130%; background:#aaa;}
ul#home-division-container li a:hover{ background:#0a3254; color:white; border-color:#0E87C0; }


ul#home-division-container { width:100%; height:115px; list-style:none;  padding:0px; }
ul#home-division-container li a { width:18.35%;margin-right:2%;display:inline;float:left;height:115px;padding:2%;display:block;font-size:18px;line-height:130%;}
ul#home-division-container li.last a{ margin:0; float:right;}



/***--Footer-- ***/

footer.footer.container {border:0px;}
footer.footer.container div.region-footer {padding: 15px 0 0 0 ;border-top: 1px solid #cccccc;color: #999;}
footer.footer.container section#block-block-3 div.licenses {width:60%;text-align:left;float:left;}
footer.footer.container section#block-block-3 div.copyright {width:40%;text-align:right;float:right;}
footer.footer.container {width:1170px;margin:0px auto;padding:0;}
footer.footer.container div.region-footer {margin: 50px 0px 20px 265px; padding: 15px 0 0 0 ;width: 905px;}
footer.footer.container section#block-block-3 div.licenses {width:60%;text-align:left;float:left;}
footer.footer.container section#block-block-3 div.copyright {width:40%;text-align:right;float:right;}



/***--Left and Right Column Dynamic Content-- ***/

/* news block - non-mobile */
section#block-views-news-block {background:#f3f5f6;margin:0px 0px 25px 0px;padding:6%;}
section#block-views-news-block h2 { padding:0px;margin:0px 0px 6px 0px;font-size:16px;color:#333;}
section#block-views-news-block a {}
section#block-views-news-block a:hover { color: #0E87C0;}
section#block-views-news-block div.views-field-field-published-date p { font-size:12px;margin-bottom:10px;}
section#block-views-news-block div.views-field-title  { margin-bottom:8px;}
section#block-views-news-block div.views-field-title a { color: #0a3254;font-size:16px;}
section#block-views-news-block div.views-field-field-teaser p { font-size:14px;margin:0px 0px;line-height:150%;}

/* news block - mobile */
section#block-views-news-block-1 {background:#f3f5f6;margin:10px 15% 5px 15%;padding:4%; width:70%;}
section#block-views-news-block-1 h2 { padding:0px;margin:0px 0px 6px 0px;font-size:16px;color:#333;}
section#block-views-news-block-1 a {}
section#block-views-news-block-1 a:hover { color: #0E87C0;}
section#block-views-news-block-1 div.views-field-field-published-date p { font-size:12px;margin-bottom:10px;}
section#block-views-news-block-1 div.views-field-title  { margin-bottom:8px;}
section#block-views-news-block-1 div.views-field-title a { color: #0a3254;font-size:16px;}
section#block-views-news-block-1 div.views-field-field-teaser p { font-size:14px;margin:0px 0px;line-height:150%;}




section#block-views-news-block-1 { display:none;}

/* random projects */

section#block-views-random-photo-block-block {}
section#block-views-random-photo-block-block div.views-field-field-primary-image {}
section#block-views-random-photo-block-block div.views-field-field-primary-image img {width:100%;height:auto;}
section#block-views-random-photo-block-block div.views-field-title {font-size: 16px; line-height: 120%;margin: 10px 0 4px 0;}
section#block-views-random-photo-block-block div.views-field-field-city-and-state h3 {font-size:13px;margin:0;padding:0;line-height:120%;}


	
section#block-views-random-photo-block-block { margin:0px 0px 20px 0px;}
section#block-views-random-photo-block-block div.views-field-field-primary-image {height:auto;}

/* random testimonials */
section#block-views-random-testimonial-block  {}
section#block-views-random-testimonial-block p {line-height: 150%;}
section#block-views-random-testimonial-block div.views-field-field-testimonial p {}
section#block-views-random-testimonial-block div.views-field-field-job-title p {}
section#block-views-random-testimonial-block div.views-field-field-testimonial-name {color:#333; }
section#block-views-random-testimonial-block div.views-field-field-testimonial-company {}


section#block-views-random-testimonial-block  {margin:0px 0px 20px 0px; width:100%; float:none;}
section#block-views-random-testimonial-block div.views-field-field-job-title  {width:100%; float:none; font-size:.95em; text-align:right;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-name {font-size:1.1em;margin:20px 0px 2px 0px; text-align:right;}
section#block-views-random-testimonial-block div.views-field-field-testimonial p {width:100%; float:none; font-size:1em;}
section#block-views-random-testimonial-block div.views-field-field-testimonial-company {width:100%; float:none; font-size:.95em; text-align:right;}



/* random employees */

section#block-views-random-employee-block-block {margin:0px 0px 20px 0px; line-height: 120%; width:100%; letter-spacing:-0.1px; }
section#block-views-random-employee-block-block div.views-field-title {margin: 10px 0 2px 0;}
section#block-views-random-employee-block-block div.views-field-title span {
color:#0a3254;}
section#block-views-random-employee-block-block div.views-field-employee-photo 
 img {}


section#block-views-random-employee-block-block div.views-field-title {font-size:1.1em;margin:5px 0px 6px 0px;}

section#block-views-random-employee-block-block div.views-field-job-title div.field-content  {width:100%; float:none; font-size:.75em; margin:8px; letter-spacing:-0.5px;}

section#block-views-random-employee-block-block img {float:right; margin:0px 0px 12px 12px; width:60px; height:auto;}

section#block-views-random-employee-block-block div.views-field-field-office {margin-top:6px; font-size:.9em;}




/***--News-- ***/

div.view-id-news.view-display-id-page {}
div.view-id-news.view-display-id-page div.views-row {min-height:140px;padding:14px 0px;border-bottom:1px solid #606060;}
div.view-id-news.view-display-id-page div.views-row-first {min-height:140px;padding:0px 0px 14px 0px;border-bottom:1px solid #606060;}
div.view-id-news.view-display-id-page div.views-row-last {border-bottom:0px;}

div.view-id-news.view-display-id-page div.views-field-field-published-date p {font-size:14px;}
div.view-id-news.view-display-id-page div.views-field.views-field-title a {font-size:20px;}
div.view-id-news.view-display-id-page div.views-field.views-field-field-teaser p {margin:10px 0px;}
div.view-id-news.view-display-id-page div.views-field-field-news-image img {max-width:125px;height:auto;float:right;margin:0px 0px 16px 16px;}

body.node-type-news div.field-name-field-news-image img {max-width:300px;height:auto;float:right;margin:0px 0px 16px 16px;}


/***--Portfolio-- ***/


div#portfolio-landing div.panel-panel .inside { margin:0px;}
div#portfolio-landing div.panel-col-first { width:71%;float:left;}
div#portfolio-landing div.panel-col-last {width:26%;float:right;}



div.view-portfolio-page-marquee { width:100%;}
div.view-portfolio-page-marquee img { z-index:1; width:100%; height:auto;}
div.view-portfolio-page-marquee div.views-field.views-field-title { z-index:9999; text-align:right; margin:-60px 0px 50px; width:100%;}

div.view-portfolio-page-marquee div.views-field.views-field-title span a:hover { color:#ccf3ee; background:#0a3254 url(../../../../../sites/default/files/home-marquee-project-title.png); opacity:1; }
div.view-portfolio-page-marquee div.views-row div span a { font-size:1.6em;}


div.view-portfolio-page-marquee div.views-field.views-field-title span a { background: url("../../../../../sites/default/files/home-marquee-project-title.png") repeat scroll 0 0 rgba(0, 0, 0, 0); color: #fff; font-size: 18px; letter-spacing: 0.25px; padding: 5px 16px;}


/* project category list - right column */
div#portfolio-landing div.panel-col-last div.view-display-id-block_2 {padding:0px 0 12px 0px;}  
div#portfolio-landing div.panel-col-last div.view-display-id-block_2 div.views-row {padding:4px 12px;}
div#portfolio-landing div.panel-col-last div.view-display-id-block_2 div.views-row-1 {padding:8px 12px 4px;}
div#portfolio-landing div.panel-col-last div.view-display-id-block_2 div.views-row:nth-child(2n+2) {background:#f0f0f0;}
div#portfolio-landing div.panel-col-last div.view-display-id-block_2 div.views-row div.views-field-name span a  { font-size:1.1em; }
div#portfolio-landing div.panel-col-last h2.pane-title { background:#606060;padding:9px; margin:0; text-align:center; font-size:1em;color:white;}


/* project category list - full column */
div#portfolio-landing div.panel-col-top div.view-display-id-block_2 {padding:0px 0 12px 0px;}  
div#portfolio-landing div.panel-col-top div.view-display-id-block_2 div.views-row {padding:6px 12px;}
div#portfolio-landing div.panel-col-top div.view-display-id-block_2 div.views-row-1 {padding:8px 12px 4px;}
div#portfolio-landing div.panel-col-top div.view-display-id-block_2 div.views-row:nth-child(2n+2) {background:#f0f0f0;}
div#portfolio-landing div.panel-col-top div.view-display-id-block_2 div.views-row div.views-field-name {text-align:center;}
div#portfolio-landing div.panel-col-top div.view-display-id-block_2 div.views-row div.views-field-name span a  { font-size:1.3em; 
}
div#portfolio-landing div.panel-col-top h2.pane-title { background:#606060;padding:9px; margin:0; text-align:center; font-size:1.2em;color:white; letter-spacing:1px;}


/* Featured Projects */

div#portfolio-landing tr {vertical-align:top;}
div#portfolio-landingdiv.view-random-photo-block.view-id-random_photo_block.view-display-id-block_1 { width:100%;}
div#portfolio-landing div.pane-views-random-photo-block-block-1 h2.pane-title { font-size:1.65em; margin-bottom:20px;}

div#portfolio-landing div.panel-col-first div.field-name-field-full-story  { padding:10px 0 0 0;}
div#portfolio-landing div.panel-col-first div.field-name-field-full-story p  { font-size:1.3em;}
div#portfolio-landing div.panel-col-top div.field-name-field-full-story p { font-size:1.3em;padding:12px;}
div#portfolio-landing div.pane-block table div.views-field.views-field-title  { padding:0px; margin-top:6px; }

div#portfolio-landing div.pane-block div.views-field.views-field-field-city-and-state div h3 {font-size: 1.1em; line-height: 135%; margin:8px 0 0px 0; border:0px; }

div#portfolio-landing div.pane-block div.views-field.views-field.views-field-field-short-project-description p { font-size:1em;}


	
div.panel-col-top { display:none; } /* hide single column view */
div.panel-col-first, div.panel-col-last { display:block;} /* show full-ish layout */
	
div#portfolio-landing div.pane-views-random-photo-block-block-1 td {width:20%;text-align:left;}
div#portfolio-landing div.pane-views-random-photo-block-block-1 td div {width:93%;}
div#portfolio-landing div.pane-views-random-photo-block-block-1 td div img {width:100%;height:auto;
}

div#portfolio-landing div.pane-views-random-photo-block-block-1 div.views-field.views-field-title span a { font-size:1.2em; line-height:110%; margin-top:0px;}
div#portfolio-landing div.pane-block div.views-field.views-field-field-primary-image img { padding:0 0 6px 0; float:none;	}



/***--Portfolio Category Page-- ***/
form#views-exposed-form-random-photo-block-page-2 div#edit-tid-wrapper { margin:0px auto; float:none;  text-align:center; }
form#views-exposed-form-random-photo-block-page-2 div#edit-tid-wrapper label {letter-spacing:0px;}
form#views-exposed-form-random-photo-block-page-2 select#edit-tid { font-size:1.35em;}

body.page-portfolio-categories div.view-display-id-page_2 tr { vertical-align:top;}
body.page-portfolio-categories div.view-display-id-page_2 tr td {width:23%; margin-right:2.66%;}
body.page-portfolio-categories div.view-display-id-page_2 tr td.col-first {}
body.page-portfolio-categories div.view-display-id-page_2 tr td.col-last {margin:0px;}
body.page-portfolio-categories div.view-display-id-page_2 tr td div {text-align:left;width:94%;}

body.page-portfolio-categories div.views-field-title span a {line-height:125%;}
body.page-portfolio-categories div.views-field-field-city-and-state h3 {line-height:135%;}

form#views-exposed-form-random-photo-block-page-2 div#edit-tid-wrapper { width:50%;}
form#views-exposed-form-random-photo-block-page-2 div#edit-tid-wrapper label { font-size:1.25em; }
form#views-exposed-form-random-photo-block-page-2 select#edit-tid { font-size:1.3em;}
	
body.page-portfolio-categories div.views-field-title {margin-top:9px;  }	
body.page-portfolio-categories div.views-field-title span {}
body.page-portfolio-categories div.views-field-title span a {font-size:1.25em;}
body.page-portfolio-categories div.views-field-field-city-and-state h3 {font-size:1.15em; margin:4px 0px 15px 0px;}
body.page-portfolio-categories div.views-field-field-primary-image img {margin-top:20px;}
body.page-portfolio-categories div.views-field-field-short-project-description p {font-size:1.1em; line-height:140%;}


 
div.group-testimonial.field-group-div h3 span
/***--Project Pages-- ***/


body.node-type-project h1.page-header {padding:0px;line-height:1;margin:0px;border:none;}
body.node-type-project div.group-right div.group-project-principals.field-group-div { width:100%;}

body.node-type-project div.field-name-field-primary-image {width:100%;margin:0px 0px 25px;}
body.node-type-project div.field-name-field-primary-image img {width:100%;height:auto;}

body.node-type-project div.field-name-field-supporting-images {width:100%;}
body.node-type-project div.field-name-field-supporting-images img {width:100%;height:auto;margin-top:15px;}
	
body.node-type-project div.field-name-field-city-and-state h3{text-transform:uppercase;font-size:1.1em;letter-spacing:1px;margin: 10px 0px 18px 0px;border-bottom: 0 none;}
body.node-type-project div.field-name-field-full-project-description p {}

body.node-type-project div.field-name-field-owner,
body.node-type-project div.field-name-field-architects,
body.node-type-project div.field-name-field-developer,
body.node-type-project div.field-name-field-engineer,
body.node-type-project div.field-name-field-owner-s-representative {width:100%;background:#f0f0f0;margin-bottom:12px;color:#333;}

body.node-type-project div.field-name-field-owner div.field-label, 
body.node-type-project div.field-name-field-architects div.field-label, 
body.node-type-project div.field-name-field-developer div.field-label,
body.node-type-project div.field-name-field-engineer div.field-label,
body.node-type-project div.field-name-field-owner-s-representative div.field-label{text-transform:uppercase;letter-spacing:1px;padding-bottom: 4px;color:#606060;}

div.group-testimonial.field-group-div {border:1px solid #ccc;padding:12px;text-align:right;margin-top:18px;}
div.group-testimonial.field-group-div h3 {text-transform:uppercase;letter-spacing:1px;font-size:1em;margin-top:0px;text-align:left;}
div.field-name-field-testimonial div.field-items p {font-size:1.1em;text-align:left; color:#333;}
div.field-name-field-testimonial-name {margin-top:12px;}
div.field-name-field-testimonial-title {}
div.field-name-field-testimonial-company {}


body.node-type-project div.group-left {float:left;width:75%;}
body.node-type-project div.group-right {float:right;width:22%;}
body.node-type-project div.field-name-field-full-project-description p { font-size:1.35em; margin-bottom:0px;}

body.node-type-project div.field-name-field-owner,
body.node-type-project div.field-name-field-architects,
body.node-type-project div.field-name-field-developer,
body.node-type-project div.field-name-field-engineer,
body.node-type-project div.field-name-field-owner-s-representative {padding:5%; font-size:1.15em;}

body.node-type-project div.field-name-field-owner div.field-label, 
body.node-type-project div.field-name-field-architects div.field-label, 
body.node-type-project div.field-name-field-developer div.field-label,
body.node-type-project div.field-name-field-engineer div.field-label,
body.node-type-project div.field-name-field-owner-s-representative, div.field-label{font-size:.85em;}



/***--Basic Pages-- ***/

body.node-type-page div.field-name-field-image-at-top-of-content img {float:right; }
div.contact-city p { border-bottom: 1px solid #ddd; margin: 0;
    padding: 5px 0; line-height:130%;}
	
	div.contact-city h4 {line-height:100%;}
	iframe#jobs-to-bid {width:100%; height:350px; border:0px;}
	


body.node-type-page div.field-name-field-image-at-top-of-content img { margin:0px 0px 16px 16px; }

 
 /***--2015 Launch Announcement-- ***/
 div#launchtime {width:100%;}
 div#launchtime img {width:100%; height:auto;} body.page-node-1023 h1.page-header {display:none;}

	
 div#launchtime p {line-height:150%; margin-bottom:20px; line-height:250%;}
	div#launchtime div.postcard {margin-bottom:30px;}
	div#launchtime div.postcard img {padding:100px 0px 40px 0px; width:450px; height:auto;}
	div#launchtime div.postcard p  {font-size:1.5em; padding-bottom:100px; margin:0px;}
	
	
	div#timeline div.capsule img {width:300px; height:auto; }
	div#timeline div.capsule#deacon91 img {width:240px; height:auto;}
	div#timeline div.capsule#deacon06d  {min-height:200px;}
	div#timeline div.capsule#deacon06d img {width:140px; height:auto;}
	div#timeline div.capsule#deacon06c img {width:240px; height:auto;}
