

/* **UNIVERSAL** */

	
 body {
	background:white;
	color:#606060;
	padding:0px;
	margin:0px;
}

a, span, p, body, h1, h2, h3, h4 {
	text-rendering: optimizelegibility;

}

a {
	color:#0a3254;
	font-size:1em;
	
}

a, button:hover, img a:hover {
	 transition: all 0.2s ease 0.1s;
}





/* Extra Small */
@media(max-width:479px){
	
	


}

/* BREAKPOINT */
/* Small */
@media(min-width:768px) and (max-width:991px){
	
}



/* Medium */
@media(min-width:992px) and (max-width:1199px){
	
}


/* Large */
/* BREAKPOINT */

@media(min-width:1200px){


}
